@import '~patternfly/dist/sass/patternfly/_variables';
@import '~patternfly/dist/sass/patternfly/_loading-state';

.left-padded {
  padding-left: 3%;
}

#foreman-templates {
  .loading-state-pf.loading-state-pf-lg {
    padding-top: 5%;
  }
  // No need to hide content, see #26122
  #main > #content {
    display: block;
  }

  .blank-slate-pf {
    padding-top: 5%;
  }
}
