#foreman-templates {
  .listViewItem:hover {
    background-color: #edf8ff;
    cursor: pointer;
  }

  .pf-m-expanded {
    border: 1px solid var(--pf-v5-global--BorderColor--100);
    box-shadow: var(--pf-v5-global--BoxShadow--sm);
    margin-bottom: 5px;

    .listViewItem {
      background-color: #def3ff;
    }
  }

  .c-icon {
    font-size: var(--pf-v5-global--icon--FontSize--lg);
  }

  .sync-result-datalist-cell {
    display: flex;
    align-items: center;

    .cell-info-padding {
      padding: 0 7px;
    }
  }
}