@import 'foremanReact/common/colors';

#foreman-templates {
  .listViewItem:hover {
    background-color: $list-color;
    cursor: pointer;
  }

  tbody {
    border: 1px solid transparent;
    &.pf-m-expanded {
      border: 1px solid var(--pf-v5-global--BorderColor--100);
      box-shadow: var(--pf-v5-global--BoxShadow--sm);
      margin-bottom: 5px;

      .listViewItem {
        background-color: $list-color;
      }
    }
    li {
      margin-top: 10px;
    }
  }

  .c-icon {
    font-size: var(--pf-v5-global--icon--FontSize--lg);
  }

  .sync-result-datalist-cell {
    display: flex;
    align-items: center;

    .cell-info-padding {
      padding: 0 7px;
    }
  }

  .back_button {
    margin-bottom: 12px;
  }
}